@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

:root {
    --clr-bg: #fff;
    --clr-br: #f7f7f7;
    --clr-grey: #778ba5;
    --clr-blue: #1e90ff;
    --clr-grey-hover: #cdcdcd;
}

.detail-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--clr-br);
    border: 1px solid var(--clr-br);
    border-radius: .25rem;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.detail-card-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

}



.detail-card-info{
    display: flex;
    flex-direction:row;
    text-align: left;
    justify-content: space-between;
    align-items:flex-start;
    padding: 1.5rem;
    gap: 2rem;
    
}

.detail-card-info-title{
    color: var(--clr-grey);
    font-weight: bold;
}



.detail-card-footer{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1rem;
    margin: -2rem;
}

.terminar-compra-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.terminar-compra{
    font-size: 1rem;
    color: var(--clr-grey);
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .063rem;
    padding: 0.5rem 0.75rem;
    margin: 0 0.62rem;
    border: .10rem solid var(--clr-br) ;
    border-radius: 0.62rem;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
    background: var(--clr-bg);
}

.terminar-compra:hover{
    color: var(--clr-blue);
    background: var(--clr-bg);
    box-shadow: inset 27px 27px 54px var(--clr-grey-hover),
                inset -27px -27px 54px var(--clr-bg);
}


.detail-card-header-name{
    font-size:larger;
    margin-left: .7rem;
    color: var(--clr-grey);
}

.detail-card-img{
    margin-left: .25rem;
    max-width: 70%;
    border-radius: 1rem;
    
}




@media screen and (max-width: 780px){
    .detail-card-container{
        display: flex;
        flex-wrap: wrap;
        
        
    }    
    
    .detail-card-info{
        display: flex;
        flex-direction:column;
        text-transform: capitalize;
        align-items:flex-start;
        padding: 1rem;
           
        
    }
    
    .terminar-compra-container{
        display: none;
       
        
    }
    .terminar-compra{
        font-size: medium;
    }
    
}