
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

:root {
    --clr-bg: #fff;
    --clr-br: #f7f7f7;
    --clr-grey: rgb(119, 139, 165);
    --clr-blue: rgb(30, 144, 255);
    --clr-grey-hover: #cdcdcd;


}

.navBar-main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    padding: 1.25rem 3.1rem;
    border: .063rem solid var(--clr-br) ;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
    
   
}






.navBar-logo-1:hover{
    transform: rotateY(360deg);

    
}





.navBar-logo-1{
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
    color: var(--clr-grey);
    padding: 0.6rem 0.93rem;
    border: .10rem solid var(--clr-br) ;
    border-radius: 0.62rem;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
   transition: .8s;
   display: flex;
   align-items: center;
}

.navBar-logo-2{
color: var(--clr-blue);
}


.navBar-container{
    display: flex;
    margin: auto 0;
    width: 100%;
    justify-content: center;
    
}

.navBar-buttons{
    font-size: 1.25rem;
    color: var(--clr-grey);
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .063rem;
    padding: 0.5rem 0.75rem;
    margin: 0 0.62rem;
    border: .10rem solid var(--clr-br) ;
    border-radius: 0.62rem;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
    background: var(--clr-bg);
    
}

.navBar-buttons:hover{
    color: var(--clr-blue);
    background: var(--clr-bg);
    box-shadow: inset 27px 27px 54px var(--clr-grey-hover),
                inset -27px -27px 54px var(--clr-bg);
                
    }

.active-navBar-buttons{
    font-size: 1.25rem;
    color: var(--clr-grey);
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .063rem;
    padding: 0.5rem 0.75rem;
    margin: 0 0.62rem;
    border: .10rem solid var(--clr-br) ;
    border-radius: 0.62rem;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
    background: var(--clr-bg);
 

}

.active-navBar-buttons:hover{
    color: var(--clr-blue);
    background: var(--clr-bg);
    box-shadow: inset 27px 27px 54px var(--clr-grey-hover),
                inset -27px -27px 54px var(--clr-bg);
                
}

.navBar-cart-container{
    display: flex;
    justify-content: space-between;
}

.navBar-cart{
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
    color: var(--clr-bg);
    padding: 0.6rem 0.93rem;
    border: .10rem solid var(--clr-br) ;
    border-radius: 0.62rem;
    box-shadow: -.43rem -.43rem 1.06rem var(--clr-bg),
    .43rem .43rem 1.06rem  rgba(70,70,70,0.15);
    background: var(--clr-bg);
    transform: scaleX(-1);
    display: flex;
    align-items: center;

}

.navBar-cart:hover{
    background: var(--clr-bg);
    box-shadow: inset 27px 27px 54px var(--clr-grey-hover),
                inset -27px -27px 54px var(--clr-bg);

}

.navBar-cart-number{
    border: .10rem solid var(--clr-br) ;
    padding: 0 0.75rem;
    margin-bottom: 3rem;
    border-radius: 0.62rem;
    
    color: var(--clr-blue);
   
    font-weight: 800;
    background: var(--clr-bg);
}

@media screen and (max-width: 780px){
    .navBar-main-container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 30%;
       
    }

    .navBar-container{
        display: none;
    }

    .navBar-buttons{
        display: none;
    }


    .navBar-logo-1{
        font-size: 20px;
        

    }
 
   .navBar-cart{
        font-size: 30px;
        

   }
    
}